a {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pull-left {
    width: 75%;
}

.pull-right img {
    width: 75px;
    border-radius: 3px;
}